'exception-reporting':
  'userId': 'e92dfcf7-e1ca-0e66-b638-4cc8533d8639'
'release-notes':
  'viewedVersion': '0.95.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'a764512c4cba90f8da34fd7e92695f9c8f511aab'
'editor':
  'softWrap': true
  'fontFamily': '"input mono"'
  'showIndentGuide': true
  'showInvisibles': true
  'invisibles': {}
'core':
  'themes': [
    'seti-ui'
    'seti-syntax'
  ]
  'disabledPackages': [
    'snippets'
    'vim-mode'
    'linter-jsonlint'
    'svg-preview'
  ]
  'projectHome': '/Users/wcanavan/code'
'autoclose-html':
  'closeOnEndOfOpeningTag': true
'emmet': {}
