packages: [
  "atom-handlebars"
  "busy-signal"
  "editorconfig"
  "intentions"
  "language-babel"
  "language-ember-htmlbars"
  "linter"
  "linter-eslint"
  "linter-ui-default"
  "package-sync"
  "pigments"
  "platformio-ide-terminal"
]
